*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka, Verdana, Geneva, Tahoma, sans-serif
}

/* descrizione delle macroaree */
#window{
    width: 80%;
    margin: auto;
}

header{
    text-align: center;
    
}

header, main{
    padding: 1.5rem 0;
}


main::after{
    content: '';
    display: table;
    clear: both;
}


/* descrizioni dettagliate */

h1{
   color: #E53170; 
}

p{
    text-align: center;
    margin: 0 10px 1rem;
}

.cardTeam{
    background-color: #0F0E17;
    float: left;
    height: 6rem;
    width: calc((100% / 3) - 20px);
    margin: 15px 10px;
    color: white;
    box-shadow: 0.3em 0.3em 1em rgb(0, 0, 0, 0.4);;
}

.cardTeam img{
    height: 100%;
    float: left;
    margin-right: 0.5rem;
}

.cardTeam .descrizioneFoto{
    padding-bottom: 0.2rem;
    margin: 0.4rem 0;
}

.contatto{
    color: #67C7EF;
}
