*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka, Verdana, Geneva, Tahoma, sans-serif
}

/* descrizione delle macroaree */
#window{
    width: 80%;
    margin: auto;
}

header{
    border: 3px solid black;
    /* prove debug da cancellare */
    text-align: center;
    padding: 1.5rem 0;
}

main{
    background-color: red;
    border: 3px solid black;
    
    /* prove debug da cancellare*/
    

}

main::after{
    content: '';
    display: table;
    clear: both;
}


/* descrizioni dettagliate */

h1{
   color: #E53170; 
}

p{
    margin: 2rem 0;
    text-align: center;
}

#cardTeam{
    background-color: #0F0E17;
    float: left;
    height: 5rem;
    width: 20rem;
    margin-bottom: 1rem;
    color: white;
}

#cardTeam img{
    height: 100%;
    float: left;
    margin-right: 0.5rem;
}

#cardTeam .descrizioneFoto{
    padding-bottom: 0.2rem;
    margin: 0.1rem 0;
}

.contatto{
    color: #67C7EF;
}
